@charset "UTF-8";

.header{
  top: 0;
  z-index: 2;
  margin-bottom: 35px;
  background-color: #FFF;
  max-width: 2000px;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 0px -2px 10px 5px #f3f3f3;
}

body {
  max-width: 100%;
  margin: 0px;
  background-color: #f7f7f7;
}

body .outer-wrapper {
  width: 100%;
  max-width: 2000px;
  background-color: #FFF;
  padding-bottom: 40px;
  margin-right: auto;
  margin-left:
  auto;
}

body .outer-wrapper > h1 {
  font-family: sans-serif;
  text-align: center;
  padding-bottom: 15px;
  max-width: 100%;
  font-size: 40px;
}

div h1 {
  font-family: sans-serif;
  font-size: 1.2em;
  text-align: center;
  padding: 0px;
}

.subtitle {
  margin-top: -15px;
  text-align: center;
  font-family: sans-serif;
  max-width: 100%;
  font-size: larger;
}

.formatFrame {
  display: flex;
  max-width: 1600px;
  height: auto;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  column-count: 2;
  padding-left: 15px;
  align-items: flex-end;
}

.legend {
  display: block;
  color: #fff;
  border: groove 0.2em;
  border-color: white;
  background-color: rgb(153 187 219);
  width: 230px;
  height: 150px;
  margin-right: 10px;
}

.legend-wrapper {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
}

table {
  font-family: sans-serif;
  font-size: 1em;
  text-align: center;
  border-collapse: collapse;
  font-style: normal;
}

th {
  text-align: left;
  border-right: 1px solid rgb(0 45 86);
  padding-right: 9px;
  border-bottom: 1px solid rgb(0 45 86);
}

tr:nth-child(even) {
}

.infobox {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: solid #002d56;
  align-items: center;
}

.filterbox {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.filterRows{
	display: grid;
	grid-template-columns: 280px 280px;
	height: 100%;
}

.filterRow1 {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-column-end: 2;
}

.filterRow2 {
    height: 100%;
    grid-row-start: 1;
    grid-column-start: 2;
    grid-row-end: 3;
    grid-column-end: 2;
}

.filterRow3 {
    grid-row-start: 2;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-column-end: 3;
}



img.button {
    width: 35px;
    height: auto;
    float: left;
    margin-left: 10px;
    padding-right: 10px;
    border-right: 2px solid rgb(0 45 86);
	filter: brightness(0) invert(1);
	transition: filter 1000ms;
}

img.button:hover {
    width: 35px;
    height: auto;
    float: left;
    margin-left: 10px;
    padding-right: 10px;
    border-right: 2px solid rgb(0 45 86);
	filter: none;
	transition: filter 1200ms;
}

img.buttonShowValid {
    width: 13%;
    height: auto;
    float: left;
    margin-left: 10px;
    padding-right: 10px;
    border-right: 2px solid rgb(0 45 86);
	filter: none;
	transition: filter 1000ms;
}



.infoArrow {
  z-index: 70;
  background-color: white;
  color: black;
  padding: 3px;
  padding-top: 0px;
  padding-bottom: 0px;
  max-width: 100%;
  margin-top: 0px;
  border-radius: 5px;
  width: 100%;
  font-size: 1em;
  align-items: center;
}

.infoArrow p {
  margin: 0;
  font-family: sans-serif;
  padding: 3px;
}

.infoArrowMimetype {
  z-index: 70;
  background-color: white;
  color: black;
  padding: 3px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  border-radius: 5px;
  font-size: 1em;
  position: relative;
  left: 0px;
}

.infoArrowMimetype p {
  margin: 0;
  font-family: sans-serif;
  padding: 3px;
}

.infoArrowStages {
  z-index: 70;
  background-color: white;
  color: black;
  padding: 3px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 4px;
  border-radius: 5px;
  font-size: 1em;
  position: relative;
  left: -7px;
}

.infoArrowStages p {
  margin: 0;
  font-family: sans-serif;
  padding: 3px;
}

.focussedElement .pronom {
  font-family: sans-serif;
  font-size: 1.2em;
  margin-left: 4px;
  margin-top: 0;
  margin-bottom: 30px;
  text-decoration: none;
}

.focussedElement p.pronom {
	 font-size: 1.2em;
}

.focussedElement a {
  text-decoration: none;
  color: inherit;
}

.focussedElement h1 {
  font-family: sans-serif;
  font-size: 3em;
  text-align: center;
}

.focussedElement .application {
  font-family: sans-serif;
  font-size: 1.4em;
  margin-bottom: 30px;
  text-align: center;
}

.focussedElement .stage {
  font-family: sans-serif;
  font-size: 1.2em;
  margin-right: 2px;
  margin-bottom: 0;
}

.formattip .tiptext {
  z-index: 100;
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transition: opacity 1s;
  background-color: #99bbdb;
  color: #fff;
  text-align: left;
  padding: 10px;
  border-radius: 3px;
  font-family: sans-serif;
  font-weight: bold;
  margin-left: -15px;
  border: solid #ff9132;
  line-height: initial;
  margin-top: 10px;
}

.formattip:hover .tiptext {
  position: absolute;
  display: block;
  visibility: visible;
  opacity: 1;
}

.periodic-wrapper {
    padding: 15px;
	padding-right: 0px;
    display: flex;
    max-width: 1600px;
    height: auto;
    flex-direction: row;
    align-items: flex-end;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    justify-content: flex-start;
}

.remarks-wrapper {
	display: grid;
    padding: 20px;
	line-height: 1.4em;
    max-width: 1600px;
    height: auto;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    border-top: dashed #002d56;
}

.remarks-wrapper p {
  margin: 0;
  font-family: sans-serif;
  padding: 3px;
  font-size: 1.07em;
  margin-bottom: 2pt;
}

.list a {
	font-size: 1.07em;
}


.periodicTable {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	max-width: 1600px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.flexCol {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
}

.element {
  float: left;
  padding: 10px;
  margin: 5px;
  min-width: 5%;
  border: groove 0.2em;
  border-color: white;
  height: 55px;
  width: 65px;
}

.element:hover {
  float: left;
  padding: 17px;
  margin: -2px;
  min-width: 5%;
  border: groove 0.2em;
  border-color: #ddd;
  border-radius: 5;
  box-shadow: 10px 10px 15px #888;
  transform: 5s;
}

div.pronom {
  font-family: sans-serif;
  font-size: 0.8em;
  margin-left: -8px;
  margin-top: -20px;
  margin-bottom: 10px;
}

div.pronom a {
  text-decoration: none;
  color: inherit;
}

div.stage {
  font-family: sans-serif;
  font-size: 0.8em;
  margin-right: -6px;
  margin-bottom: -26px;
  margin-top: 10px;
}

.inner {
  line-height: 0.1px;
  margin-left:  -5px;
}

p.application {
  font-family: sans-serif;
  font-size: 0.8em;
  margin: 0;
  padding: 2px 0px 2px 0px;
  text-align: center;
}

.noElem {
  border: solid 2px;
  border-color: #fff;
  visibility: hidden;
}

.noElem:hover {
  border: solid 2px;
  border-color: #fff;
  box-shadow: 0 0 0 #fff;
  visibility: hidden;
}

.text {
  background-color: rgb(0 45 86);
  color: #fff;
}

.word {
  background-color: rgb(0 86 166);
  color: #fff;
}

.publishing {
  background-color: rgb(0 86 166);
  color: #fff;
}

.presentation {
  background-color: rgb(0 86 166);
  color: #fff;
}

.image {
  background-color: rgb(0 125 242);
  color: #fff;
}

.vector {
  background-color: rgb(0 125 242);
  color: #fff;
}

.audio {
  background-color: rgb(50 170 220);
  color: #fff;
}

.video {
  background-color: rgb(50 170 220);
  color: #fff;
}

.interactive {
  background-color: rgb(50 170 220);
  color: #fff;
}

.data {
  background-color: rgb(32 108 140);
  color: #fff;
}

.gps {
  background-color: rgb(32 108 140);
  color: #fff;
}

.threed {
  background-color: rgb(32 108 140);
  color: #fff;
}

.container {
  background-color: rgb(21 69 89);
  color: #fff;
}

.filterbox button {
  border: groove;
  border-color: white;
  color: white;
  padding: 2px;
  text-align: center;
  text-decoration: none;
  font-size: 1.07em;
  font-weight: 500;
  display: inline-block;
  margin: 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: rgb(0 45 86);
  border-radius: 6px;
  width: 100%;
  transition: 1000ms;
}

.filterbox button.showValid {
	display: inline-flex;
	align-items: center;
	background-color: rgb(255 145 50);
	height: 100%;
	box-shadow: none;
}
.filterbox button.resetAll {
  background-color: rgb(49 170 223);
  padding: 8px;
}

.footer {
  background-color: white;
  padding-top: 25px;
  padding-bottom: 10px;
  position: absolute;
  width: 100%;
  clear: both;
  text-align: center;
  font-family: sans-serif;
  font-size: 0.8em;
  box-shadow: 0px 2px 10px 5px #f3f3f3;
  height: 30px;
}

.document-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    max-width: 1600px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.button-showValid {
	height: 77%;
}

.buttonShowValid {
    height: 77%;
}

.hiddenNonValid {
	opacity: 0.2;
	transition: opacity 1000ms;
}

img.img_header {
    width: 15%;
    padding: 10px 0px 5px 10px;

}

.title-legend {
    z-index: 70;
    background-color: white;
    color: black;
    padding: 3px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    border-radius: 5px;
    font-size: 1em;
}

h1.legend-table {
	 margin-top: 4px;
	 margin-bottom: 0px;
	 font-size: 1.15em;
}

.stage {
    text-align: end;
}

li {
	float: left;
	margin-right: 40px;
	list-style: disc;
	font-size: 1em;
}

i.fa.fa-external-link {
    color: #002d56;
    font-size: 0.85em;
}

a.list {
    color: #002d56;
}

ul.list {
    /* font-size: 1.07em; */
    font-family: sans-serif;
	margin-top: 5px;
    margin-left: 10px;
}

.focussedElement .formattip p.tiptext {
    margin-left: 3px;
    line-height: initial;
    margin-top: 18px;
}

a:hover {
    color: #31aadf;
}